[user]
	email = caleb.stdenis@gmail.com
	name = Caleb St-Denis

[includeIf "gitdir:~/src/ea/"]
  path = ~/src/ea/.gitconfig

[pull]
	rebase = true

[core]
	pager = less -+$LESS -RS # for macOS touchpad scroll
