[includeIf "gitdir:~/src/OttawaTechNerds/"]
    path = .gitconfig-OttawaTechNerds

[user]
	email = caleb.stdenis@gmail.com
	name = Caleb St-Denis

[pull]
	rebase = true

[core]
	pager = less -+$LESS -RS # for macOS trackpad scroll

[init]
	defaultBranch = main

[diff "lockb"]
	textconv = bun
	binary = true
